<nav>
    <h2>
        RBAC
    </h2>

    <ul>
        <li><a href="/user/profile">Home</li>
        <li><a href="/"></a>Profile</li>
        <li><a href="/admin/users">Users</li>
        <li><a href="/auth/register">Register</li>
        <li><a href="/auth/login">Login</li>
        <li><a href="/auth/logout">Logout</li>
    </ul>
</nav>